    * {
        margin: 0;
        padding: 0;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
        flex-direction: column;
        display: flex;
        background: rgb(233, 233, 233);
    }

    button {
        width: 10vw;
        text-transform: uppercase;
        color: white;
        background: rgb(70, 70, 255);
        border: 0;
        border-radius: 20px;
        padding: 10px;
        box-shadow:5px 10px 30px rgb(194, 194, 194);
        transition: all 0.3s ease;
    }

    button:hover {
        transform: translateY(-4px);
    }

    button:active {
        border: 0;
        margin: 0;
        outline: 0;
        width: 15vw;
    }
    

    input {
        width: 17vw;
        padding-left: 10px;
        box-shadow: 5px 10px 30px rgb(194, 194, 194);;
        border: 0;
        border-radius: 10px;
        margin: 5px;
        height: 40px;
        transition: transform 0.3s ease;
    }

    input:hover {
        transform: translateY(-4px);
    }

    .small {
        padding-left: 0;
        text-align: center;
        width: 5vw;
    }

    .large {
        padding-left: 0;
        text-align: center;
        width: 70%;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:whitesmoke;
        margin-left: 20vw;
        margin-right: 20vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding: 30px;
        border-radius: 20px;
        box-shadow:5px 10px 30px rgb(194, 194, 194);
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: translateY(-4px);
    }

    .row {
        justify-content: space-evenly;
    }

    .center {
        padding: 0;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    @media (max-width: 900px) {
        .card {
            margin-right: 0;
            margin-left: 0;
        }

        button {
            font-size: small;
            width: 20vw;
        }

        .row {
            justify-content:center;
        }

        .column {
            flex-direction: column;
            align-items: center;
        }

        .small {
            width: 10vw;
        }

        .medium {
            width:30vw;
        }
    }