
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    justify-content: center;
    overflow-y: hidden;
}

h4 {
    border-radius: 10px;
    background-color: rgb(234, 252, 252) ;
    color: #3498db;
    overflow-y: hidden;
}

h5 {
    overflow-y: hidden;
}

h6 {
    padding: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    color: grey;
    overflow-y: hidden;
}

* {
    padding: 70px;
    padding-top: 0%;
    padding-bottom: 0%;
}
.bg {
    padding: 0%;
}


.barra {
    background-attachment: fixed;
    padding: 0%;
    z-index: -1;
    background-color: blue;
    height: 100px;
    bottom: 70px;
}
.corpo {
    z-index: 1;
}
.texto {
    text-indent: 2em;
    text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
}

.form {
    text-indent: 2em;
    overflow-wrap: break-word;
    hyphens: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.datas {
    text-indent: 2em;
    overflow-wrap: break-word;
    hyphens: auto;
    color: slategrey;
}

.lista {
    text-indent: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container2 {
    z-index: 1;
}
.container {
    margin-bottom: 30px;
    margin-top: 30px;
    z-index: 1;
    border-radius: 30px;
    background-color: white;
}

.fundo {
    padding: 0%;
    background-color: rgb(227, 227, 227);
}

.nome {
     border-radius: 10px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.foto {
    padding: 0%;
    border-radius: 100%    ;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .barra {
        height: 0%;
    }
    .fundo {
        padding: 0%;
    }
    .container {
        border-radius: 0%;
    }
    .container2 {
        background-color: white;
    }
    .nome {
        padding: 0%;
    }

 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .fundo {
        padding: 0%;
    }
    .nome {
        padding: 0%;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container {    
        width: 40%;
    }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container {
        width: 40%;
    }
 }